%ul
  - items.each do |item|
    %li
      = link_to item.title, item.purpose.blank? ? page_path(item.path) : item.purpose

      - if item.has_children?
        = render :partial => 'layouts/menu/menu', :locals => {:items=>item.children}
