#dialog_load{title: "Пожалуйста, подождите..."}
  %p Пожалуйста, не закрывайте окно.
  %p Идет отправка письма администратору. Через несколько секунд вы получите подтверждение о том, что письмо отправлено.

#dialog_ready{title: "Письмо отправлено"}
  %p Спасибо за обратную связь!
  %p Ваше письмо отправлено владельцу сайта. В ближайшее время с вами свяжутся.

#dialog_error{title: "Ошибка"}
  %p Извините за причиненные неудобства!
  %p На сайте возникли неполадки. Обратитесь по телефону, указанному на сайте.